<ul>
  <% @nuerons.each do |n| %>
    <li><%= link_to n.title, n %></li>
  <% end %>
</ul>
<%= link_to 'New Nueron', new_nueron_path %>

<script src="https://d3js.org/d3.v3.min.js"></script>
<script>
$(document).ready(function() {
  graph_render();
});
</script>
