<h1 class="leader">All Knowledges in the Web</h1>
<div id="brain">
</div>
<h3 class="header">Surfing Start Points</h3>

<% @nuerons.each do |n| %>
  <% if n.prev.empty? %>
  <div class="tile-large" onclick="window.location.href='/nuerons/<%=n.id%>'">
    <div class="tile-content">
      <div class="image-container">
        <div class="frame">
          <a href="/nuerons/1"><img src="http://i1.ytimg.com/vi/<%=n.vid%>/hqdefault.jpg" data-role="fitImage" data-format="square"></a>
        </div>
        <div class="image-overlay">
          <%=n.title%>
        </div>
      </div>
    </div>
    <span class="tile-label" style="background-color:lightblue;margin:10px"><%=n.title%></span>
  </div>
  <% end %>
<% end %>

<script>
$(document).on('ready', graph_render);
</script>
