<ul>
  <% @nuerons.each do |n| %>
    <li><%= link_to n.title, n %></li>
  <% end %>
</ul>
<%= link_to 'New Nueron', new_nueron_path %>

<script>
$(document).on('ready', graph_render);
/* For turbolink */
$(document).on('page:load', graph_render);
</script>
